############################################################
# Minimal pip requirements file for running Eddy.
#
# For testing, use one of the generated requirements file
# corresponding to your platform and python version in
# the requirements/out folder.
############################################################

pyqt5>=5.8
jpype1>=0.7.1,!=0.7.2
rfc3987
